<!DOCTYPE HTML PUBLIC >
<html ng-app="app">
    <head>
        <title>App</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
        <meta charset="UTF-8"/>
        <link rel="shortcut icon" type="image/png" href="./resources/images/favicon.png"/>
        <!-- build:css css/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/animate.css/animate.css"/>
        <link rel="stylesheet" href="../bower_components/angular-loading-bar/build/loading-bar.css"/>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <!-- endbower -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/resources/styles/site.css">
        <!-- endinject -->
        <!-- endbuild -->
    </head>
    <body ng-controller="mainCtrl">
        <nav class="navbar navbar-default navbar-fixed-top ">
            <div class="navbar-padding">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="'active'" ng-repeat="tab in tabs" ui-sref="{{tab.routeLink}}">
                            <a href="">{{tab.title}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <span translate="OPTIONS"></span>
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#">
                                        <span translate="LOGOUT"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main-container">
            <!-- views import -->
            <div ui-view></div>
        </div>

        <!-- build:js js/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="../bower_components/angular-translate/angular-translate.js"></script>
        <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.js"></script>
        <script src="../bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
        <script src="../bower_components/ng-file-upload/FileAPI.min.js"></script>
        <script src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->
        <!-- inject:js -->
        <script src="/app.js"></script>
        <script src="/core/routing.js"></script>
        <script src="/core/translate.js"></script>
        <script src="/controllers/main.ctrl.js"></script>
        <!-- endinject -->
        <!-- endbuild -->
    </body>
</html>
